<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Connect</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
    <!-- css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
        <!-- navbar -->
        <div id="wrap">
            <nav class="our-navbar">
                <div class="logo">
                    <a href="/"><img class="brand-title" src="https://i.ibb.co/5YmWWrG/dojoconnect-UPDATED.png" alt="dojoconnect-UPDATED" border="0"></a>
                    <h1>DOJO CONNECT</h1>
                </div>
                
                <button type="button" class="btn-hamburger" data-action="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
        
            <div class="navbarthings">
                <ul class="nav-menu">
                    <li class="nav-item"><a href="/">Home</a></li>
                    {% if logged_user is not defined %}
                    <li class="nav-item dropdown">
                        <a href="#" data-action="dropdown-toggle">Select Technology</a>
                        <div class="dropdown-menu">
                            <a href="/posts/html" class="dropdown-item">HTML</a>
                            <a href="/posts/css" class="dropdown-item">CSS</a>
                            <a href="/posts/javascript" class="dropdown-item">JavaScript</a>
                            <a href="/posts/bootstrap" class="dropdown-item">BootStrap</a>
                            <a href="/posts/c#" class="dropdown-item">C#</a>
                            <a href="/posts/c++" class="dropdown-item">C++</a>
                            <a href="/posts/git" class="dropdown-item">GIT</a>
                            <a href="/posts/java" class="dropdown-item">Java</a>
                            <a href="/posts/mern" class="dropdown-item">Mern</a>
                            <a href="/posts/mean" class="dropdown-item">Mean</a>
                            <a href="/posts/python" class="dropdown-item">Python</a>
                            <a href="/posts/ruby" class="dropdown-item">Ruby</a>
                            <a href="/posts/swift" class="dropdown-item">Swift</a>
                            <a href="/posts/tailwind" class="dropdown-item">Tailwind</a>
                            <a href="/posts/other" class="dropdown-item">Other</a>
                        </div>
                    {% else %}
                    <li class="nav-item"><a href="/user/{{logged_user.id}}">User Profile</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" data-action="dropdown-toggle">Select Technology</a>
                        <div class="dropdown-menu">
                            <a href="/posts/html" class="dropdown-item">HTML</a>
                            <a href="/posts/css" class="dropdown-item">CSS</a>
                            <a href="/posts/javascript" class="dropdown-item">JavaScript</a>
                            <a href="/posts/bootstrap" class="dropdown-item">BootStrap</a>
                            <a href="/posts/c#" class="dropdown-item">C#</a>
                            <a href="/posts/c++" class="dropdown-item">C++</a>
                            <a href="/posts/git" class="dropdown-item">GIT</a>
                            <a href="/posts/java" class="dropdown-item">Java</a>
                            <a href="/posts/mern" class="dropdown-item">Mern</a>
                            <a href="/posts/mean" class="dropdown-item">Mean</a>
                            <a href="/posts/python" class="dropdown-item">Python</a>
                            <a href="/posts/ruby" class="dropdown-item">Ruby</a>
                            <a href="/posts/swift" class="dropdown-item">Swift</a>
                            <a href="/posts/tailwind" class="dropdown-item">Tailwind</a>
                            <a href="/posts/other" class="dropdown-item">Other</a>
                        </div>
                        {% endif %}
                    </li>
        
                    <!-- june 7th. try to utlize the userTab Icon and dropdown into the actual nav bar list instead of it being its own div/entity -->
                    <li class="nav-item search">
                        <span class="searchIcon">
                            <ion-icon name="search-outline" class="searchBtn"></ion-icon>
                            <ion-icon name="close-outline" class="closeBtn"></ion-icon>
                        </span>
                    </li>

                    <li class="userTabNav">
                        <a class="userTabBtn" href="#"><ion-icon name="person-circle-outline" class="userNavIcon"></ion-icon></a>
                            <ul class="blank">
                                <li>
                                    <a href="/login" id="login" class="userTabNav-item">Login</a>
                                    <a href="/register" id="register" class="userTabNav-item">Register</a>
                                </li>
                            </ul>
                        </li>
                </ul>
                </div>
        
                <div class="mobile-search">
                    <span class="mobile-searchIcon">
                        <ion-icon name="search-outline" class="mobilesearchBtn"></ion-icon>
                        <ion-icon name="close-outline" class="mobilecloseBtn"></ion-icon>
                    </span>
                </div>
        
                <div class="searchBox">
                    <form class="" role="search" action="/search" method="POST">
                        <input class="" name="search" value="{{request.form.search}}" type="search" placeholder="Search a Topic" aria-label="Search">
                        <!-- <button class="btn btn-outline-secondary btn-sm" type="submit">Search</button> -->
                    </form>
                </div>
                
        
                <div class="userAction">
                    <ul class="userTab">
                        <li>
                            <a class="userTabBtn" href="#"><ion-icon name="person-circle-outline" class="userNavIcon"></ion-icon></a>
                            {% if logged_user is not defined %}
                            <ul class="userTabDropdownMenu">
                                <p>Guest</p>
                                <li><a href="/login" class="userTab-item">Login</a></li>
                                <li><a href="/register" class="userTab-item">Register</a></li>
                            </ul>
                        </li>
                        {% else %}
                                <ul class="userTabDropdownMenu">
                                    <p>{{logged_user['first_name']}}</p>
                                    <li><a href="#" class="userTab-item">User Profile</a></li>
                                    <li><a href="#" class="userTab-item">Add Topic</a></li>
                                    <li><a href="/logout" class="userTab-item">Logout</a></li>
                                </ul>
                        </ul>
                    {% endif %}
                </div>
            </nav>
            </div>

            
        <!-- content -->
        <div class="mainIndex container mt-5">
            <div class="tableContent mt-5">
                <div class="topicsHeader">
                    <h4 class="topicsText">All Topics</h4>
                    {% if logged_user is not defined %}
                    {% else %}
                        <a class="btn btn-outline-dark btn-sm" href="/post/add">Add A Topic</a>
                    {% endif %}
                </div>
            
                <div class="topicsContainer pt-2 pb-4">
                    {% for post in all_posts %}
                        <div class="topicsContent mt-4 mb-2">
                            <h5> <a class="text-decoration-none" href="/post/{{post.id}}">{{post.title}}</a></h5>
                            <h6 class="postedAt mb-4">{%filter title%} {{post.technology}} {%endfilter%}</h6>
                            <p class="text-black ">{{post.description}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="{{url_for('static',filename='/js/navbar.js')}}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>