<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Connect - {{this_post.technology}} - {{this_post.title}}</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <!-- css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="ps-3 d-flex">
                <a href="/"><img class="" src="https://i.ibb.co/DDsmtWf/dojoconnect-1.png" alt="dojoconnectlogo" border="0" width="152px" height="50px"></a>
            </div>
    
            <div class="d-flex align-items-center text-center">
                <a class="ps-2 text-decoration-none text-black" href="/">Home</a> 
                {% if logged_user is not defined%}
                {% else %}
                    <p class="ps-2 pe-2 m-0">|</p>
                    <a class=" text-decoration-none text-black" href="/user/{{logged_user.id}}">User Profile</a>
                {% endif %}
                <p class="ps-2 pe-2 m-0">|</p> 
                <div class=" d-flex justify-content-around">
                    <div class="dropdown">
                        <button class="btn btn-outline-dark dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Select Technology
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/posts/html">HTML</a></li>
                            <li><a class="dropdown-item" href="/posts/css">CSS</a></li>
                            <li><a class="dropdown-item" href="/posts/mern">Mern</a></li>
                            <li><a class="dropdown-item" href="/posts/mean">Mean</a></li>
                            <li><a class="dropdown-item" href="/posts/python">Python</a></li>
                            <li><a class="dropdown-item" href="/posts/java">Java</a></li>
                            <li><a class="dropdown-item" href="/posts/c#">C#</a></li>
                            <li><a class="dropdown-item" href="/posts/c++">C++</a></li>
                            <li><a class="dropdown-item" href="/posts/swift">Swift</a></li>
                            <li><a class="dropdown-item" href="/posts/ruby">Ruby</a></li>
                            <li><a class="dropdown-item" href="/posts/bootstrap">Bootstrap</a></li>
                            <li><a class="dropdown-item" href="/posts/tailwind">Tailwind</a></li>
                            <li><a class="dropdown-item" href="/posts/git">GIT</a></li>
                            <li><a class="dropdown-item" href="/posts/other">Other</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <div class="d-flex justify-content-center">
                <form class="d-flex" role="search" action="/search" method="POST">
                    <input class="form-control me-2" name="search" value="{{request.form.search}}" type="search" placeholder="Search Topics" aria-label="Search">
                    <button class="btn btn-outline-secondary btn-sm" type="submit">Search</button>
                </form>
            </div>
    
            <div class="navbarWelcome align-items-center">
                {% if logged_user is not defined %}
                    <div class="navRight d-flex justify-content-around">
                        <form action="/login">
                            <button type="submit" class="btn btn-outline-success btn-sm">Login</button>
                        </form>
    
                        <form  action="/register">
                            <button type="submit" class="btn btn-outline-primary btn-sm">Register</button>
                        </form>
                    </div>
                {% else %}
                    <p class="m-0 pe-4">Welcome, {{logged_user['first_name']}}!</p>
                    <a class="btn btn-outline-danger btn-sm" href="/logout">Logout</a>
                {% endif %}
            </div>
        </div>



        <!-- post content -->
        <div>
            <div class="container">
                <div class="postContainer bg-white text-black p-5 rounded-3 mt-5">
                    <div class="postHeader">
                        <h3>{{this_post.title}}</h3>
                        <div class="postBtns d-flex justify-content-around">
                            {% if logged_user is not defined %}
                            {% else %}
                            {% if logged_user.id==this_post.creator.id %}
                                <a class="btn btn-outline-dark btn-sm" href="/post/{{this_post.id}}/edit">Edit</a>
                                <span>   </span>
                                <a class="btn btn-outline-danger btn-sm" href="/post/{{this_post.id}}/delete">Delete</a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="postTech pb-2">
                        <h6 class="postTechText">{%filter title%} {{this_post.technology}} {%endfilter%}</h6>
                    </div>

                    <div class="postDescription">
                        <p class="ps-5 pe-5">{{this_post.description}}</p>
                    </div>

                    <div class="addedBy">
                        <div class="m-0">
                            <p class="postedAt">posted {{this_post.created_at.strftime('%b %e, %Y at %H:%M')}}</p>
                        </div>

                        <div class="postedAt">
                            <p class="pe-1 m-0">by</p>
                            <a class="text-decoration-none" href="/user/{{this_post.creator.id}}">{{this_post.creator.first_name}} {{this_post.creator.last_name}}</a>
                        </div>
                    </div>
                </div>

                {% if logged_user is not defined %}
                {%else%}
                <div class="commentBorder">
                    <div class="addComment mt-3">
                        <div class="ok">
                            <form action="/post/{{this_post.id}}/comment" method="post">
                                <label class="form-group" for="">Add Comment</label>
                        </div>
                            <div class="form-control mt-4">
                                <textarea class="form-control border-dark" name="comment" id="" cols="30" rows="5"></textarea>
                            </div>
                            <input type="hidden" name="user_id" value="{{logged_user.id}}">
                            <div class="d-flex justify-content-center mt-2">
                                <input class="btn btn-outline-warning btn-sm" type="submit" value="Post">
                            </div>
                        </form>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p class="error-msg text-warning">{{message}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                {%endif%}

                {% for comment in post_comments %}
                    <div class="commentsContainer container mt-5 p-4 mb-5">
                        <div class="comment">
                            <p>{{comment.comment}}</p>
                        </div>

                        <div class="addedBy">
                            <div>
                                <p class="postedAt">posted {{comment.created_at.strftime('%b %e, %Y at %H:%M')}}</p>
                                <p class="postedAt">by: <a class="text-decoration-none ps-1" href="/user/{{comment.creator.id}}">{{comment.creator.first_name}}</a></p>
                            </div>
    
                            <div class="postedAt">
                                {% if logged_user is not defined %}
                                {%else%}
                                {% if logged_user.id==comment.creator.id %}
                                <a class="btn btn-outline-danger btn-sm" href="/post/{{comment.post_id}}/comment/{{comment.id}}/delete">Remove</a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>