<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/add/post" method="post">
    <label for="">Title</label>
    <input type="text" name="title">
    <label for="">Tech</label>
    <select name="technology" id="">
      <option value="" selected disabled hidden>Select Tech</option>
      <option value="mern">MERN</option>
      <option value="python">Python</option>
      <option value="java">Java</option>
    </select>
    <label for="">Description</label>
    <textarea name="description" id="" cols="30" rows="10"></textarea>
    <input type="hidden" name="user_id" value="{{logged_user.id}}">
    <input type="submit" value="Submit">
  </form>
</body>
</html>