<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>All posts in {{all_posts[0].technology}} technology</p>
    {% for post in all_posts %}
    <h5> <a class="text-decoration-none" href="/post/{{post.id}}">{{post.title}}</a></h5>
    <p class="text-danger">{{post.description}}</p>
    {% endfor %}
</body>
</html>