<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/user/edit/{{user_info.id}}" method="post" >
    <label>First Name</label>
    <input type="text" name="first_name" value="{{user_info.first_name}}">
    <label>last Name</label>
    <input type="text" name="last_name" value="{{user_info.last_name}}">
    <label>email</label>
    <input type="text" name="email" value="{{user_info.email}}">
    <input type="submit" value="submit">
  </form>
</body>
</html>