<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Connect</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
    <!-- css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- navbar -->
        <div class="navbar">
            <div class="ps-3 d-flex">
                <a href="/"><img class="" src="https://i.ibb.co/DDsmtWf/dojoconnect-1.png" alt="dojoconnectlogo" border="0" width="152px" height="50px"></a>
            </div>
    
            <div class="d-flex align-items-center text-center">
                <a class="ps-2 text-decoration-none text-black" href="/">Home</a> 
                <p class="ps-2 pe-2 m-0">|</p> 
                <div class="d-flex justify-content-around">
                    <div class="dropdown">
                        <button class="btn btn-outline-dark dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Select Technology
                        </button>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/posts/mern">Mern</a></li>
                        <li><a class="dropdown-item" href="/posts/python">Python</a></li>
                        <li><a class="dropdown-item" href="/posts/java">Java</a></li>
                        </ul>
                    </div>
                </div>
                {% if logged_user is not defined%}
                {% else %}
                    <p class="ps-2 pe-2 m-0">|</p>
                    <a class="text-decoration-none text-black" href="/user/{{logged_user.id}}">User Profile</a>
                {% endif %}
            </div>
    
            <div class="d-flex justify-content-center">
                <form class="d-flex" role="search" action="/search" method="POST">
                    <input class="form-control me-2" name="search" value="{{request.form.search}}" type="search" placeholder="Search Topics" aria-label="Search">
                    <button class="btn btn-outline-secondary btn-sm" type="submit">Search</button>
                </form>
            </div>
    
            <div class="navbarWelcome align-items-center">
                {% if logged_user is not defined %}
                <div class="navRight d-flex justify-content-around">
                    <form action="/login">
                        <button type="submit" class="btn btn-outline-success btn-sm">Login</button>
                    </form>

                    <form  action="/register">
                        <button type="submit" class="btn btn-outline-primary btn-sm">Register</button>
                    </form>
                </div>
                {% else %}
                    <p class="m-0 pe-4">Welcome, {{logged_user['first_name']}}!</p>
                    <a class="btn btn-outline-danger btn-sm" href="/logout">Logout</a>
                {% endif %}
            </div>
        </div>

            
        <!-- content -->
        <div class="mainIndex container mt-5">
            <div class="tableContent mt-5">
                <div class="topicsHeader">
                    <h4 class="topicsText">All Topics</h4>
                    {% if logged_user is not defined %}
                    {% else %}
                        <a class="btn btn-outline-dark btn-sm" href="/post/add">Add A Topic</a>
                    {% endif %}
                </div>
            
                <div class="topicsContainer pt-2 pb-4">
                    {% for post in all_posts %}
                        <div class="topicsContent mt-4 mb-2">
                            <h5> <a class="text-decoration-none" href="/post/{{post.id}}">{{post.title}}</a></h5>
                            <p class="text-black ">{{post.description}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>