<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Connect</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <div class="container mt-5">
        <!-- navbar -->
        <div class=" d-flex justify-content-between align-center">
            <div class="navLeft d-flex">
                <a class="text-decoration-none" href="/">Home</a> 
                <p class="ps-2 pe-2" >|</p>
                <a class="text-decoration-none" href="/discussion_board">Discussion Board</a>
            </div>
            <div class="navRight d-flex justify-content-around">
                <!-- if/for statement for login/logout here -->
                <form  action="/login">
                    <button type="submit" class="btn btn-outline-success btn-sm">Login</button>
                </form>
                <form  action="/register">
                    <button type="submit" class="btn btn-outline-primary btn-sm">Register</button>
                </form>
                <!-- end -->
            </div>
        </div>


        <!-- content -->
        <div class="container d-flex justify-content-center mt-5">
            <input type="search" onfocus="this.value=''" value="Search Topics">
            <button>Search</button>
        </div>

        <!-- placeholder  until topics/posts get created -->
        <div class="mainIndex container mt-5">
            <div class="tableContent container">
                <div class="tableContent container">
                    <div class="topicsHeader">
                        <h4>Most Liked Topics</h4>
                    </div>
                    <div class="topicsContainer mt-4">
                        {% for post in all_posts %}
                            <h5> <a class="text-decoration-none" href="/post/{{post.id}}">{{post.title}}</a></h5>
                            <p class="topicsText">{{post.description}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>