* {
    font-family: 'Open Sans', sans-serif;
    /* filter: invert(20%); */
}

/* validation messages */
.messages {
    width: 300px;
}





/* navbar css */
.navbar {
    display: flex;
    height: 5rem;
    border-bottom: solid 2px #8a7cad;
}

.navbarWelcome {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
}


.navRight {
    width: 10rem;
}



/* login/reg form */
.LoginForm, .RegForm {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 10px 10px 5px rgb(184, 184, 184);
}

.RegWelcome {
    text-shadow: 2px 2px 5px rgb(90, 90, 90);
    color: rgb(41, 41, 41);
}





/* posts table */
.tableContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.topicsHeader {
    width: 50rem;
    height: 3.25rem;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 0px;
    background-color: #8a7cad;
    color: rgb(59, 59, 59);
    display: flex;
    align-items: center;
    justify-content: center;
}

.topicsContainer {
    width: 50rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.topicsContent {
    width: 80%;
    border-bottom: solid 1px rgb(184, 184, 184);
}