* {
    font-family: 'Poppins', sans-serif;
    /* box-sizing: border-box;
    margin: 0;
    padding: 0; */
}


body {
    padding: 0;
    margin: 0;
    background-color: #272727;
}

.mainIndex {
    display: flex;
}



/* navbar rehaul */
.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin-top: 10px;
    font-size: medium;
    color: rgb(196, 196, 196);
    font-weight: 500;
}

.our-navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: solid 2px #8a7cad;
    align-items: center;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    height: 70px;
    padding: 0 1.5em;
    background-color: #342f42;
}

.nav-menu {
    position: absolute;
    right: 8rem;
    top: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    padding: 0 1em;
}

.nav-item > a {
    display: inline-block;
    line-height: 70px;
    color: rgb(196, 196, 196);
    text-decoration: none;
    transition: color .7s;
    -webkit-transition: .7s all ease-in-out;
    -moz-transition: .7s all ease-in-out;
    -o-transition: .7s all ease-in-out;
    -ms-transition: .7s all ease-in-out;
}

.nav-item > a:hover {
    color: #8a7cad;
    transition: color .7s;
    -webkit-transition: .7s all ease-in-out;
    -moz-transition: .7s all ease-in-out;
    -o-transition: .7s all ease-in-out;
    -ms-transition: .7s all ease-in-out;
}

.dropdown {
    position: relative;
    color: rgb(196, 196, 196);
    transition: 0.7s ease-in-out;
    -webkit-transition: .7s all ease-in-out;
    -moz-transition: .7s all ease-in-out;
    -o-transition: .7s all ease-in-out;
    -ms-transition: .7s all ease-in-out;
}

.dropdown:hover, .dropdown:active {
    color: #8a7cad;
    transition: 0.7s ease-in-out;
    cursor: pointer;
    -webkit-transition: .7s all ease-in-out;
    -moz-transition: .7s all ease-in-out;
    -o-transition: .7s all ease-in-out;
    -ms-transition: .7s all ease-in-out;
}

.dropdown-menu {
    position: absolute;
    left: 13rem;
    right: 0;
    width: 9rem;
    border: 2px solid #8a7cad;
    border-top: 0px solid;
    border-radius: 0% .0% .5em .5em;
    background-color: #342f42;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
    -webkit-transition: .7s all ease-in-out;
    -moz-transition: .7s all ease-in-out;
    -o-transition: .7s all ease-in-out;
    -ms-transition: .7s all ease-in-out;
}

.guestDDM {
    left: 6rem
}

.dropdown-menu.active {
    color: #8a7cad;
    border: 2px solid #8a7cad;
    border-top: 0px solid;
    background-color: #342f42;
    transition: max-height 0.7s ease-in-out;
    -webkit-transition: .7s all ease-in-out;
    -moz-transition: .7s all ease-in-out;
    -o-transition: .7s all ease-in-out;
    -ms-transition: .7s all ease-in-out;
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.dropdown-menu.active::-webkit-scrollbar-thumb {
    background: #7284ca;
}

.dropdown-menu.active::-webkit-scrollbar {
    padding-right: 5px;
    width: 2px;
    background-color: transparent;
    color: #7284ca;
}

.dropdownIcon {
    position: relative;
    top: .2rem;
    padding-left: 5px;
    color: #7284ca;
}

.dropdown-item a {
    display: block;
    padding: 0 1.5em;
    font-size: .875em;
    color: rgb(196, 196, 196);
    line-height: 3;
    text-decoration: none;
}

.dropdown-item a:hover {
    color: #8a7cad;
    background-color: transparent;
}

.dropdown-item {
    text-align: center;
    background-image: linear-gradient(#7284ca, #7284ca);
    background-repeat: no-repeat;
    background-size: 0px 0%;
    background-position: bottom, 4px 0;
    transition: background-size .5s;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
}

.dropdown-item:hover {
    background-size: 65% 1px;
    transition: background-size .5s;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
}


/* search bar */
.search {
    padding: 0 .75em;
    cursor: pointer;
    white-space: nowrap;
}

.searchBox {
    position: relative;
    max-width: 0rem;
    max-height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    color: rgb(196, 196, 196);
    z-index: 2;
    transition: max-width 0.7s ease-in-out;
    overflow: hidden;
}

.searchBox.active {
    max-width: 20rem;
    transition: max-width 0.7s ease-in-out;;
    -webkit-transition: .7s all ease-in-out;
    -moz-transition: .7s all ease-in-out;
    -o-transition: .7s all ease-in-out;
    -ms-transition: .7s all ease-in-out;
}

.searchBox input {
    width: 15rem;
    border: none;
    outline: none;
    background: #342f42;
    font-size: 1em;
    color: rgb(196, 196, 196);
    border-bottom: solid 1px #7284ca;
}

.searchBox input::placeholder {
    color: rgb(196, 196, 196);
    text-transform: uppercase;
    font-weight: bold;
    font-size: .7rem;
    padding-left: 1em;
}

.enterBtn {
    position: relative;
    top: .5rem;
    margin-top: -1.5rem; 
    background: rgba(0,0,0,0);
    border: none;
    font-size: 1.5rem;
    align-items: center;
    color: #7284ca;
    transition: .7s;
    -webkit-transition: .7s all ease-in-out;
    -moz-transition: .7s all ease-in-out;
    -o-transition: .7s all ease-in-out;
    -ms-transition: .7s all ease-in-out;
}

.enterBtn:hover {
    color: #8a7cad;
    cursor: pointer;
}

.searchBtn {
    position: relative;
    top: .5rem;
    right: 2.8rem;
    padding: 0;
    margin: 0;
    z-index: 3;
    transition: 0.5s ease-in-out;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
}

.searchBtn:hover {
    color: #7284ca;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
}

.searchBtn.active {
    opacity: 0;
}

.closeBtn {
    cursor: pointer;
    position: relative;
    opacity: 0;
    visibility: hidden;
    scale: 0;
    font-size: 1.85rem;
    z-index: 3;
    top: .5rem;
    right: 4.45rem;
    color: #7284ca;
    transition: 0.7s;
    -webkit-transition: .7s all ease-in-out;
    -moz-transition: .7s all ease-in-out;
    -o-transition: .7s all ease-in-out;
    -ms-transition: .7s all ease-in-out;
}

.closeBtn.active {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    scale: 1;
    position: relative;
    top: .5rem;
    right: 4.45rem;
    transition: 0.7s;
    color: rgb(164, 66, 66);
    -webkit-transition: .7s all ease-in-out;
    -moz-transition: .7s all ease-in-out;
    -o-transition: .7s all ease-in-out;
    -ms-transition: .7s all ease-in-out;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.searchIcon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.35rem;
}


/* user tab/icon */
.userNavIcon {
    z-index: 3;
    font-size: 1.75rem;
    color: #7284ca;
    margin-left: 5rem;
    transition: color .5s;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
}

.userNavIcon:hover, .userTabBtn.active {
    color: rgb(196, 196, 196);
    transition: color .5s;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
    cursor: pointer;
}

.userTab {
    list-style: none;
    transition: 0.7s ease-in-out;
    -webkit-transition: .7s all ease-in-out;
    -moz-transition: .7s all ease-in-out;
    -o-transition: .7s all ease-in-out;
    -ms-transition: .7s all ease-in-out;
}

.userTabBtn {
    position: relative;
    top: .5rem;
}

.userTab ul, .userTab a {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.userTabDropdownMenu {
    position: absolute;
    padding: .5em 0;
    top: 4.4rem;
    right: -4rem;
    border: 2px solid  #8a7cad;
    border-top: 0px solid;
    border-radius: 0% .0% .5em .5em;
    background-color: #342f42;
    color: rgb(196, 196, 196);
    text-align: center;
    overflow: hidden;
    transition: max-height 0.5s ease-in;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
    max-height: 0rem;
    /* thanks mozilla firefox. */
    scrollbar-width: none;
}

.userTabDropdownMenu.active {
    display: block;
    top: 4.4rem;
    right: -4rem;
    visibility: visible;
    opacity: 1;
    transition: max-height 0.5s ease-out;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
    max-height: 11.5rem;
    overflow: scroll;
}

.userTab-item {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 2px 25px;
    text-align: center;
    background-image: linear-gradient(#7284ca, #7284ca);
    background-repeat: no-repeat;
    background-size: 0px 0%;
    background-position: bottom, 4px 0;
    transition: background-size .5s;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
}

.userTab-item:hover {
    background-size: 65% 1px;
    transition: background-size .5s;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
}

.userTabDropdownMenu p {
    font-size: small;
    margin-top: 10px;
    padding: 0px 10px;
    color: #7284ca;
    text-align: start   ;
    border-bottom: #8a7cad;
}

.userTabDropdownMenu a {
    color:  rgb(196, 196, 196);
    transition: color .5s;
}

.userTabDropdownMenu a:hover {
    color:#8a7cad;
    transition: color .5s;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
}

#logout a:hover {
    color: rgb(136, 55, 55);
}



/* BODY */
.content {
    margin-top: 6rem;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    /* margin-bottom: 10vh; */
}

.noResults {
    margin: 0 auto;
    color: #7284ca;
    text-transform: uppercase;
    grid-column-start: 2;
}

.main {
    padding: 0 2em;
    grid-column-start: 2;
    z-index: 1;
}

.left {
    position: fixed;
    width: 20vw;
    left: 2rem;
}

.right {
    position: fixed;
    width: 20vw;
    right: 2rem;
    z-index: 0;
    margin: 1em 0;
}

.postCard {
    display: flex;
    border: #43364e solid 2px;
    border-radius: 12px;
    background-color: #342f42;
    padding: .25em 1em 1em 1em;
    margin: 1em 0em;
    box-shadow: 12px 12px 15px -8px #1b1b1b, -12px 12px 15px -8px #1b1b1b;
}

.vote {
    margin-top: 4%;
    display: block;
    padding: 0 1em;
    color: #7284ca;
    justify-content: center;
    align-content: center;
}

.voteBtn {
    height: 20px;
    width: 20px;
    padding: 0 2px;
    margin-top: -20px;
}

.voteBtn:hover {
    color: #8a7cad;
}

.vote p {
    margin: 0;
    margin-bottom: 8px;
    padding: 5px 0;
    color: rgb(196, 196, 196);
}

.postContainer {
    width: 100%;
    height: 100%;
    padding: 0 1em;
    word-break:break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

.topics {
    display: block;
    margin: 0;
    /* border-bottom: solid 1px #7284ca; */
}

.topicDesc {
    width: 100%;
    height: 3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
    line-height: 5;
    border-bottom: solid 1px #7284ca;
    padding-bottom: 1em;
    margin-bottom: 5px;
    margin-top: 0px;
}

.topicDesc p {
    margin: 0;
    /* markdown2 messed up the styling for this, but its fixed */
}

.postTitle {
    margin-bottom: 5px;
}

.topics p {
    color: rgb(196, 196, 196);
}

.postTitle a {
    text-decoration: none;
    font-size: larger;
    color: #8a7cad;
    transition: color .5s ease-in-out;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
    }

.postTitle a:hover {
    color: #7284ca;
    transition: color .5s ease-in-out;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
}

.postedAt a {
    color: #7284ca;
    text-decoration: none;
    font-weight: normal;
    font-size: smaller;
    transition: color .5s ease-in-out;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
    padding-left: .1em;
}

.postedAt a:hover {
    transition: color .5s ease-in-out;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
    color: #8a7cad;
}

.postDetails {
    display: flex;
    justify-content: space-between;
    color: rgb(196, 196, 196);
    white-space: nowrap;
    flex-wrap: nowrap;
    width: 100%;
}

.posted {
    display: flex;
    text-align: left;
    align-items: center;
    font-size: .75rem;
    width: 100%;
}

.posted p {
    margin-right: 5px;
}

.posted a {
    color: #7284ca;
    text-decoration: none;
    margin-right: 50px;
}

.postComments {
    display: flex;
    font-size: .75rem;
    margin-right: 80px;
}

.commentIcon {
    margin-top: 7px;
    height: 15px;
    width: 15px;
    padding: 5px;
}

.hidden {
    opacity: 0;
    filter: blur(1.5px);
    transform: translateY(-15%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition: all 1s;
}

.navHidden {
    filter: blur(.5px);
    transition: all 1s;
    transform: translateY(-15%);
}

.navHidden.show {
    transition: all 1s;
    filter: blur(0);
    transform: translateY(0);
}

.topicButton {
    width: 75%;
    height: 50px;
    background-color: #7284ca;
    border-radius: 12px;
    border: #4d5a8e solid 2px;
    box-shadow: none;
    color: rgb(196, 196, 196);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    scale: .9;
    transition: all .7s ease-in;
    /* box-shadow: 6px 6px 15px -4px #1b1b1b, -6px 6px 8px -4px #1b1b1b; */
}

.topicButton:hover {
    scale: 1;
    transition: all .7s;
}

.newTopic {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.newTopicBtn {
    text-decoration: none;
    color:rgb(196, 196, 196)
}

.plusIcon {
    position: relative;
    left: -10%;
    top: 11px;
    width: 25px;
    height: 25px;
    font-weight: bolder;
}



/* create/edit post css */
.createPostCard {
    margin: 0 auto;
    margin-top: 5em;
    border: #7284ca solid 1px;
    background-color: #342f42;
}

.createPostContainer {
    width: 60%;
    height: 100%;
    margin: 7em auto 0 auto;
}

.dontNeedDivButWantDiv {
    margin-top: -1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(196, 196, 196);
    font-weight: bolder;
    font-size:.7rem;
}


.createPostCard {
    width: 85%;
    height: 100%;
    border: #43364e solid 2px;;
    border-radius: .3em;
    padding: 1em 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    box-shadow: 12px 12px 15px -8px #1b1b1b, -12px 12px 15px -8px #1b1b1b;
    /* margin: 3em 1em; */
}

.createPostCard label {
    width: 50px;
    font-size: .7rem;
    color: rgb(196, 196, 196);
    font-weight: bolder;
}

::placeholder {
    font-weight: bolder;
    font-size: .7rem;
    color: #7284ca;
    opacity: .65;
    z-index: 0;
}


.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 2rem;
}


.title input {
    padding: 0 1em;
}

.title input:focus {
    outline: none;
    resize: none;
}

.title span {
    border-bottom: solid 1px #7284ca;
    width: 50px;
    margin-top: .25em;
    margin-bottom: .5em;
}

.labelTitle, .languageLabel, .labelDesc {
    padding-left: .5rem;
}

.createTitle {
    width: 97%;
    height: 2.5em;
    border: none;
    border-bottom: #8a7cad solid 1px;
    background-color: #2c2838;
    color: rgb(196, 196, 196);
    appearance: none;
}

.customSelectDropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}

.customSelectDropdown span {
    border-bottom: solid 1px #7284ca;
    width: 85px;
    margin-top: .25em;
    margin-bottom: .5em;
}

.selectToggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    background-color: #2c2838;
    color: rgb(196, 196, 196);
    border: none;
    border-bottom: #8a7cad solid 1px;
    cursor: pointer;
    width: 100%;
    height: 3.25em;
    font-size: .7rem;
    font-weight: bolder;
    text-transform: uppercase;
    /* box-shadow: 12px 12px 15px -8px #1b1b1b, -12px 12px 15px -8px #1b1b1b; */
}

.selectToggle:hover {
    background-color: #2c2838;
}

.selectMenu {
    font-size: .8rem;
    font-weight: bolder;
    position: relative;
    overflow-y: auto;
    list-style: none;
    top: -0.05rem;
    padding: 0;
    margin: 0;
    margin-bottom: 14rem;
    color: rgb(196, 196, 196);
    background-color: #2c2838;
    border-bottom: #8a7cad solid 1px;
    border-left: #8a7cad solid 1px;
    border-right: #8a7cad solid 1px;
    border-radius: 0 0 .5em .5em;
    max-height: 0rem;
    width: 99.8%;
    transition: all .7s ease-in-out;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    z-index: 1;
}

.selectMenu::-webkit-scrollbar-thumb {
    background: #7284ca;
}

.selectMenu::-webkit-scrollbar {
    padding-right: 5px;
    width: 2px;
    background-color: transparent;
    color: #7284ca;
}

.selectMenu.open {
    display: block;
    margin-bottom: 0rem;
    max-height: 14rem;
    top: -0.1rem;
    overflow: scroll;
    transition: all .7s ease-in-out;
    line-height: 1;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    /* box-shadow: 12px 12px 15px -8px #1b1b1b, -12px 12px 15px -8px #1b1b1b; */
}

.selectMenu.open::-webkit-scrollbar-thumb {
    background: #7284ca;
}

.selectMenu.open::-webkit-scrollbar {
    padding-right: 5px;
    width: 2px;
    background-color: transparent;
    color: #7284ca;
}

.selectIcon {
    position: relative;
    top: .05rem;
}

.menuItem {
    padding: 10px 20px;
    cursor: pointer;
}

.menuItem:hover {
    background-color: #8a7cad;
}

.textArea {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: -14rem;
    width: 100%;
    opacity: 1;
    transition: .7s all ease-in-out;
}

.textArea.faded {
    transition: .7s all ease-in-out;
    opacity: .25;
}

.textArea textarea {
    background-color: #2c2838;
    border: none;
    border-bottom: #8a7cad solid 1px;
    /* border-radius: .5em .5em 0 0; */
    /* height: 250px; */
    color: rgb(196, 196, 196);
    outline: none;
    resize: none;
    box-sizing: border-box;
    padding: 1em;
    line-height: 1;
    z-index: 1;
}

.textArea .underline {
        border-bottom: solid 1px #7284ca;
        width: 95px;
        margin-top: .25em;
        margin-bottom: .5em;
}

.textArea textarea:focus {
    border: none;
    border-bottom: solid 1px #8a7cad;
    line-height: 1;
    z-index: 2;
    caret-color: rgb(196, 196, 196) !important;
}

.textArea textarea:focus::placeholder {
    padding: 0;
}

.submitter {
    display: flex;
    justify-content: center;
}

.submitter input {
    /* display: none; */
    position: inherit;
    bottom: 1%;
    width: 30%;
    height: 50px;
    background-color: #7284ca;
    border-radius: 12px;
    border: #4d5a8e solid 2px;
    box-shadow: none;
    color: rgb(196, 196, 196);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 12px 12px 15px -8px #1b1b1b, -12px 12px 15px -8px #1b1b1b;
}

.flashMsg {
    color: #ca7272;
    font-size: .7rem;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* simpleMDE styling */
.editor-toolbar {
    opacity: 1;
    background-color: #2c2838;
    border-bottom: #8a7cad solid 1px;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0px 5px;
    height: 2.5em !important; 
}

.editor-toolbar .fa-arrows-alt, .editor-toolbar .fa-columns {
    display: none;
}

.editor-toolbar:hover {
    opacity: 1;
}

.editor-toolbar a {
    position: relative;
    top: -.4rem;
    margin: 0 2px;
    color: #7284ca !important;
    font-size: .75rem;
}

.editor-toolbar a.active, .editor-toolbar a:hover {
    background-color: #7284ca;
    color: rgb(196, 196, 196) !important;
}

.editor-preview-active {
    background: #342f42;
    border-right: solid 1px #8a7cad;
    border-left: solid 1px #8a7cad;
    border-top: none;
    border-bottom: none;
}

.editor-preview-active a {
    text-decoration: none;
    color: #8a7cad;
}

.disabled-for-preview a {
    background-color: #2c2838 !important;
    color: rgb(196, 196, 196) !important;
}

.fa-eye.no-disable.active {
    background-color: #7284ca !important;
}

.separator {
    position: relative;
    top: -.2rem;
    height: 15px;
    border-left: 1px solid rgb(196, 196, 196) !important;
    border-right: 1px solid rgb(196, 196, 196)  !important;
}

.CodeMirror {
    font-family: inherit;
    color: rgb(196, 196, 196);
    background: #2c2838;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0%;
    border-bottom: #8a7cad solid 1px;
    caret-color: rgb(196, 196, 196) !important;
}

.CodeMirror-empty {
    font-size: .7em;
    font-weight: bolder;
    color: #7284ca;
    opacity: 1.5;
}

.editor-statusbar {
    display: none;
}

.CodeMirror .CodeMirror-code .cm-link {
    color: #8a7cad;
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background: none;
}

.CodeMirror-cursor {
    border-color: #7284ca;
}

.CodeMirror .CodeMirror-selected {
    background: #7284ca;
}






/* MOBILE */
nav .btn-hamburger {
    display: none;
    position: absolute;
    right: 1.5em;
    top: 50%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    transform: translateY(-50%);
}

nav .btn-hamburger span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: rgb(196, 196, 196);
    margin: 6px;
    border-radius: 2px;
    transition: .3s ease-in-out;
}

nav .btn-hamburger span:nth-child(4),
nav .btn-hamburger span:nth-child(5) {
    position: absolute;
    top: 10px;
    opacity: .5;
}

nav .btn-hamburger span:nth-child(4) {
    transform: rotate(45deg) scale(0);
}
nav .btn-hamburger span:nth-child(5) {
    transform: rotate(-45deg) scale(0);
}

nav.opened .btn-hamburger span:nth-child(4) {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

nav.opened .btn-hamburger span:nth-child(5) {
    opacity: 1;
    transform: rotate(-45deg) scale(1);
}

nav.opened .btn-hamburger span:nth-child(1),
nav.opened .btn-hamburger span:nth-child(2),
nav.opened .btn-hamburger span:nth-child(3) {
    opacity: 0;
}

@media screen and (max-width: 960px) {

    /* * {
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    } */

    nav .nav-menu {
        position: fixed;
        left: 0;
        right: 0;
        top: 70px;
        bottom: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        background-color: #43364e;
        transition: bottom .7s ease-in-out;
        overflow: scroll;
        z-index: 10;
    }

    nav.opened .nav-menu {
        bottom: 0;
    }
    nav .nav-item > a {
        display: block;
    }

    nav .dropdown-menu {
        max-height: 0px;
        position: relative;
        top: 0;
        margin: 0 1.5em;
        overflow: auto;
    }

    nav .btn-hamburger {
        display: block;
        z-index: 3;
    }

    .nav-item.dropdown {
        padding: 0 1em;
    }

    .dropdown-menu {
    left: -.5rem;
    width: 9.5rem;
    border: 2px solid #8a7cad;
    border-top: 0px solid #8a7cad;
    border-bottom: 0px transparent;
    border-radius: .5em .5em;
    background-color: #342f42;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
    -webkit-transition: .7s all ease-in-out;
    -moz-transition: .7s all ease-in-out;
    -o-transition: .7s all ease-in-out;
    -ms-transition: .7s all ease-in-out;
    }

    .dropdown-menu.active {
    border: 2px solid #8a7cad;
    border-top: 2px solid #8a7cad;
    border-bottom: 2px #8a7cad;
    border-radius: .5em .5em;
    background-color: #342f42;
    transition: max-height 0.7s ease-in-out;
    max-height: 30%;
    -webkit-transition: .7s all ease-in-out;
    -moz-transition: .7s all ease-in-out;
    -o-transition: .7s all ease-in-out;
    -ms-transition: .7s all ease-in-out;
    }


    .nav-item.search {
        display: flex;
        padding: .75rem 14px;
        width: 90%;
        height: 46px;
    }

    .searchBox {
        display: flex;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s ease-in-out;
        background: #43364e;
        color: rgb(196, 196, 196);
        z-index: 2;
        opacity: 1;
        visibility: visible;
    }

    .searchBox input {
        width: 75%;
        height: 35px;
        border: none;
        outline: none;
        background: #43364e;
        font-size: 1em;
        color: rgb(196, 196, 196);
        border-bottom: solid 1px #7284ca;
    }

    .searchBtn {
        visibility: hidden;
        color: #7284ca;
    }

    .enterBtn {
        position: relative;
        top: .5rem;
        margin-top: -1.5rem; 
        background: rgba(0,0,0,0);
        border: none;
        font-size: 1.5rem;
        align-items: center;
        color: #7284ca;
    }

    .userTab {
        position: absolute;
        bottom: 0.01rem;
        left: -0.01rem ;
        width: 100%;
        height: 70px;
        z-index: 1;
        border-top: solid 2px #8a7cad;
        background-color: #342f42;
        padding: 0;
        transition: 0.7s ease-in-out;
    }

    .userTab.active {
        transition: 0.7s ease-in-out;
    }

    .userNavIcon {
        font-size: 2.25rem;
    }

    .userTabBtn {
        right: 4.25rem;
        top: 1rem;
    }

    .utddm {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .userTabDropdownMenu {
        position: absolute;
        display: flex;
        border: 0px;
        top: .75rem;
        right: -100%;
        max-width: 0%;
        background-color: transparent;
        transition: max-width 0.7s all ease-in-out;
        -webkit-transition: .7s all ease-in-out;
        -moz-transition: .7s all ease-in-out;
        -o-transition: .7s all ease-in-out;
        -ms-transition: .7s all ease-in-out;
        overflow: hidden;
        white-space: nowrap;
    }


    .userTabDropdownMenu.active {
        display: flex;
        max-width: 100%;
        top: .75rem;
        right: 0rem;
        flex-wrap: nowrap;
        white-space: nowrap;
        transition: max-width 0.7s all ease-in-out;
        -webkit-transition: .7s all ease-in-out;
        -moz-transition: max-width .7s all ease-in-out;
        -o-transition: .7s all ease-in-out;
        -ms-transition: .7s all ease-in-out;
        overflow: visible;
    }

    .userTabList a {
        color: #7284ca;
    }

    .userTab-item {
        font-size: .95rem;
    }

    .userTabDropdownMenu p {
        display: none;
    }

    #login {
        color: #8a7cad;
    }
    
    #register {
        color:  #7284ca;
    }
    
    #login:hover, #register:hover {
        color: rgb(196, 196, 196)
        
    }


    /* BODY */
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        margin-bottom: 5rem;
    }

    .noResults {
        grid-column-start: 1;
    }

    .right {
        /* margin: 1em 1em; */
        width: 100%;
        right: -1.5%;
        bottom: -2%;
        z-index: 1;
        grid-column-start: 1;
        /* opacity: 75%; */
        background-color: #272727;
        height: 7%;
    }

    .topicButton {
        position: relative;
        bottom: 5%;
        width: 97%;
        box-shadow: 12px 12px 15px -8px #1b1b1b, -12px 12px 15px -8px #1b1b1b;
    }
    
    .main {
        margin: 1em 2em 1em 1em;
        padding: 0 1em;
        max-width: 100%;
        grid-column-start: 1;
        z-index: 0;
    }

    .postCard {
        margin: 0;
        width: 95%;
        white-space: wrap;
    }

    .postTitle {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        word-break: break-word;
        /* hyphens: auto; */
    }

    .postDetails {
        white-space: wrap;
        flex-wrap: wrap;
    }

    .postComments {
        display: none;
    }

    .filler {
        margin-bottom: 4rem;
    }





    /* create/edit post css */
    .createPostContainer {
        width: 100%;
        height: 100%;
        margin-top: 7em;
    }

    .dontNeedDivButWantDiv {
        margin-top: -1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(196, 196, 196);
        font-weight: bolder;
        font-size:.7rem;
    }


    .createPostCard {
        width: 85%;
        height: 100%;
        border: #43364e solid 2px;;
        border-radius: .3em;
        padding: 1em 1em;
        margin-top: 1em;
        margin-bottom: 2em;
        box-shadow: 12px 12px 15px -8px #1b1b1b, -12px 12px 15px -8px #1b1b1b;
    }

    .createPostCard label {
        width: 50px;
        font-size: .7rem;
        color: rgb(196, 196, 196);
        font-weight: bolder;
    }

    ::placeholder {
        font-weight: bolder;
        font-size: .7rem;
        color: #7284ca;
        opacity: .65;
        z-index: 0;
    }


    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 95%;
        margin-bottom: 2rem;
    }

    
    .title input {
        padding: 0 1em;
    }

    .title input:focus {
        outline: none;
        resize: none;
    }

    .title span {
        border-bottom: solid 1px #7284ca;
        width: 50px;
        margin-top: .25em;
        margin-bottom: .5em;
    }

    .labelTitle, .languageLabel, .labelDesc {
        padding-left: .5rem;
    }

    .createTitle {
        width: 95%;
        height: 2.5em;
        border: none;
        border-bottom: #8a7cad solid 1px;
        background-color: #2c2838;
        color: rgb(196, 196, 196);
        appearance: none;
    }

    .customSelectDropdown {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        overflow: hidden;
        margin-bottom: 2rem;
    }

    .customSelectDropdown span {
        border-bottom: solid 1px #7284ca;
        width: 85px;
        margin-top: .25em;
        margin-bottom: .5em;
    }

    .selectToggle {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em 0;
        background-color: #2c2838;
        color: rgb(196, 196, 196);
        border: none;
        border-bottom: #8a7cad solid 1px;
        cursor: pointer;
        width: 98.5%;
        height: 3.25em;
        font-size: .7REM;
        font-weight: bolder;
        /* box-shadow: 12px 12px 15px -8px #1b1b1b, -12px 12px 15px -8px #1b1b1b; */
    }

    .selectToggle:hover {
        background-color: #2c2838;
    }
    
    .selectMenu {
        font-size: .8rem;
        font-weight: bolder;
        position: relative;
        overflow-y: auto;
        list-style: none;
        top: -0.05rem;
        padding: 0;
        margin: 0;
        margin-bottom: 14rem;
        color: rgb(196, 196, 196);
        background-color: #2c2838;
        border-bottom: #8a7cad solid 1px;
        border-left: #8a7cad solid 1px;
        border-right: #8a7cad solid 1px;
        border-radius: 0 0 .5em .5em;
        max-height: 0rem;
        width: 98%;
        transition: all .7s ease-in-out;
        /* box-shadow: 12px 12px 15px -8px #1b1b1b, -12px 12px 15px -8px #1b1b1b; */
        z-index: 1;
    }
    
    .selectMenu.open {
        display: block;
        margin-bottom: 0rem;
        max-height: 14rem;
        top: -0.1rem;
        overflow: scroll;
        transition: all .7s ease-in-out;
        line-height: 1;
        /* box-shadow: 12px 12px 15px -8px #1b1b1b, -12px 12px 15px -8px #1b1b1b; */
    }

    .selectIcon {
        position: relative;
        top: .05rem;
    }
    
    .menuItem {
        padding: 10px 20px;
        cursor: pointer;
    }
    
    .menuItem:hover {
        background-color: #8a7cad;
    }

    .textArea {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        margin-top: -14rem;
        width: 98.7%;
        opacity: 1;
        transition: .7s all ease-in-out;
    }

    .textArea.faded {
        transition: .7s all ease-in-out;
        opacity: .25;
    }

    .textArea textarea {
        background-color: #2c2838;
        border: none;
        border-bottom: #8a7cad solid 1px;
        /* border-radius: .5em .5em 0 0; */
        /* height: 250px; */
        color: rgb(196, 196, 196);
        outline: none;
        resize: none;
        box-sizing: border-box;
        padding: 1em;
        line-height: 1;
        z-index: 1;
    }

    .textArea .underline {
        border-bottom: solid 1px #7284ca;
        width: 95px;
        margin-top: .25em;
        margin-bottom: .5em;
}

    .textArea textarea:focus {
        border: none;
        border-bottom: solid 1px #8a7cad;
        line-height: 1;
        z-index: 2;
    }

    .textArea textarea:focus::placeholder {
        padding: 0;
    }

    .submitter input {
        /* display: none; */
        position: inherit;
        bottom: 1%;
        width: 100%;
        height: 50px;
        background-color: #7284ca;
        border-radius: 12px;
        border: #4d5a8e solid 2px;
        box-shadow: none;
        color: rgb(196, 196, 196);
        text-decoration: none;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        box-shadow: 12px 12px 15px -8px #1b1b1b, -12px 12px 15px -8px #1b1b1b;
    }

    .editor-toolbar {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        opacity: 1;
        background-color: #2c2838;
        border-bottom: #8a7cad solid 1px;
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 0px 0px;
        height: 2.5em !important; 
        overflow: scroll;
        /* overflow-y: hidden; */
        width: 100%;
    }

    .editor-toolbar a {
        position: relative;
        top: .05rem;
    }

    .separator {
        position: relative;
        top: .1rem;
        height: 15px;
        border-left: 1px solid rgb(196, 196, 196) !important;
        border-right: 1px solid rgb(196, 196, 196)  !important;
    }

    .CodeMirror {
        /* height: -20rem; */
    }








}


.brand-title {
    height: 60px;
    margin: .75rem;
}

.navbarWelcome {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
}


.navRight {
    width: 10rem;
}



/* login/reg form */
.LoginForm, .RegForm {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 10px 10px 5px rgb(184, 184, 184);
}

.RegWelcome {
    text-shadow: 2px 2px 5px rgb(90, 90, 90);
    color: rgb(41, 41, 41);
}





/* posts table */

.tableContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 25px;
}

.topicsText {
    text-align: center;
    display: flex;
    align-items: center;
    color: rgb(196, 196, 196);
}

.postHeader a {
    color: rgb(196, 196, 196);
}

.postHeader a:hover {
    color: #8a7cad;
}




.topicsContent {
    width: 90%;
    border-bottom: solid 1px #8a7cad;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}




/* view post css */ 

.postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
}

.postBtns {
    width: 8rem;
}


.postTech {
    border-bottom: 1px solid  rgb(184, 184, 184);
}

.postTechText, .postedAt {
    font-size: small;
}

.postDescription {
    word-wrap: break-word;
    margin-top: 3rem;
    /* background-color: #d8d8d8; */
    padding: .75rem;
    border-radius: 10px;
}

.addedBy {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.postedAt {
    display: flex;
    align-items: flex-start;
    margin: 0;
    color: #8a7cad;
}









/* comments css */
.commentsContainer {
    width: 60%;
    border-radius: 10px;
    background-color: #e0d9f0;
    word-wrap: break-word;
    box-shadow: 10px 10px 10px rgb(184, 184, 184);
}

.commentBorder {
    margin-top: 2rem;
    width: 60%;
    border: solid 1px #8a7cad;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(184, 184, 184);
}

.comment {
    text-align: center;
    padding: 2rem;
    margin-top: -2.5rem;
}

.commentBorder label {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.ok {
    border-bottom: solid 1px rgb(184, 184, 184);
}





/* user profile css */
.card {
    background-image: linear-gradient(to right,#8a7cad , #81e0b8  );
}

.edit-card {
    background-image: linear-gradient(to left, #8a7cad, #81e0b8  );
}

.card-body-add {
    margin: 10px;
    padding: 5px;
}

.card-foot {
    margin-top: 20px;
    display: flex;
}

.submitter {
    padding: 5px;
}