* {
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #272727;
}

.mainIndex {
    display: flex;
}


/* validation messages */
.messages {
    width: 300px;
}



/* navbar rehaul */
.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin-top: 10px;
    font-size: medium;
    color: rgb(196, 196, 196);
    font-weight: 500;
}

nav {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    height: 70px;
    padding: 0 1.5em;
    background-color: #342f42;
} 

nav .nav-menu {
    position: absolute;
    right: 11rem;
    top: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav .nav-item {
    display: inline-block;
}

nav .nav-item > a {
    display: inline-block;
    padding: 0 .75em;
    line-height: 70px;
    color: rgb(196, 196, 196);
    text-decoration: none;
}

nav .nav-item > a:hover {
    color: #8a7cad;
}

nav .dropdown {
    position: relative;
}

nav .dropdown a::after {
    content: '';
    display: inline-block;
    margin-left: .5em;
    vertical-align: middle;
    border-top: .3em solid #fff;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

nav .dropdown.show a::after {
    transform: rotate(180deg);
}

nav .dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: .5em 0;
    margin-top: 1.6em;
    border: 1px solid  #8a7cad;;
    border-radius: .5em;
    background-color: #342f42;
    max-height: 400px;
    overflow: auto;
}

nav .dropdown.show .dropdown-menu {
    display: block;
}

nav .dropdown-item {
    display: block;
    padding: 0 1.5em;
    font-size: .875em;
    color: rgb(196, 196, 196);
    line-height: 3;
    text-decoration: none;
}



/* search bar */
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 10;
    cursor: pointer;
}

.searchBox {
    position: absolute;
    right: -100%;
    top: -0.1em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px;
    transition: 0.7s ease-in-out;
    background: #342f42;
    color: rgb(196, 196, 196);
}

.searchBox.active {
    margin-right: 46rem;
}

.searchBox input {
    width: 22rem;
    height: 35px;
    border: none;
    outline: none;
    background: #342f42;
    font-size: 1em;
    color: rgb(196, 196, 196);
    border-bottom: solid 1px #7284ca;
}

.searchBox input::placeholder {
    color: rgb(196, 196, 196);
}

.searchBtn {
    transition: 0.7s ease-in-out;
    padding: 0;
    margin: 0;
    position: relative;
    top: .5rem;
    /* margin-right: 5r; */
}

.searchBtn.active {
    opacity: 0;
}

.closeBtn {
    opacity: 0;
    visibility: hidden;
    scale: 0;
    font-size: 1.85rem;
    z-index: 2;
}

.closeBtn.active {
    z-index: 2;
    opacity: 1;
    visibility: visible;
    transition: 0.7s;
    scale: 1;
    position: relative;
    top: .5rem;
    right: 1.75rem;
}

.mobile-search {
    visibility: hidden;
    font-size: 1.5em;
    z-index: 10;
}

.mobilesearchBtn {
    visibility: hidden;
    position: relative;
}

.mobilesearchBtn.active {
    visibility: hidden;
}

.mobilecloseBtn {
    visibility: hidden;
    z-index: 2;

}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* user tab/icon */
.userTab {
    transition: 0.7s ease-in-out;
    list-style: none;
}

.userTabBtn {
    position: relative;
    top: .5rem;
    z-index: 2;
}

.userTab ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.userTab li {
    display: inline-block;
    /* position: relative; */
}

.userTab a {
    text-decoration: none;
}

.userTabDropdownMenu {
    display: block;
    position: absolute;
    padding: .5em 0;
    top: -100rem;
    border: 1px solid  #8a7cad;;
    border-radius: .5em;
    background-color: #342f42;
    transition: 0.7s ease-in-out;
    z-index: 0;
}

.userTabDropdownMenu.active {
    /* display: block; */
    transition: 0.7s;
    top: 4rem;
    z-index: 2;
}


.userTabList {
    text-align: center;
    transition: 0.7s ease-in-out;
    color: rgb(196, 196, 196);
}

.userTabList a {
    color: #7284ca;
}

.userTabList a:hover {
    color:#8a7cad;
}

.userTabDropdownMenu li {
    display: block;
}

.userTabDropdownMenu li.active {
    transition: bottom .5s ease-in-out
}

.userNavIcon {
    font-size: 1.75rem;
    color: #7284ca;
    margin-left: 5rem;
}

.userNavIcon:hover {
    color: rgb(196, 196, 196);
}







/* MOBILE */
nav .btn-hamburger {
    display: none;
    position: absolute;
    right: 1.5em;
    top: 50%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    transform: translateY(-50%);
}

nav .btn-hamburger span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: rgb(196, 196, 196);
    margin: 6px;
    border-radius: 2px;
    transition: .3s ease-in-out;
}

nav .btn-hamburger span:nth-child(4),
nav .btn-hamburger span:nth-child(5) {
    position: absolute;
    top: 10px;
    opacity: .5;
}

nav .btn-hamburger span:nth-child(4) {
    transform: rotate(45deg) scale(0);
}
nav .btn-hamburger span:nth-child(5) {
    transform: rotate(-45deg) scale(0);
}

nav.opened .btn-hamburger span:nth-child(4) {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

nav.opened .btn-hamburger span:nth-child(5) {
    opacity: 1;
    transform: rotate(-45deg) scale(1);
}

nav.opened .btn-hamburger span:nth-child(1),
nav.opened .btn-hamburger span:nth-child(2),
nav.opened .btn-hamburger span:nth-child(3) {
    opacity: 0;
}

@media screen and (max-width: 960px) {
    nav .nav-menu {
        position: fixed;
        left: 0;
        right: 0;
        top: 70px;
        bottom: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        background-color: #43364e;
        transition: bottom .7s ease-in-out;
        overflow: scroll;
    }

    nav.opened .nav-menu {
        bottom: 0;
    }
    nav .nav-item > a {
        display: block;
    }

    nav .dropdown-menu {
        max-height: 300px;
        position: relative;
        top: 0;
        margin: 0 1.5em;
        overflow: auto;
    }

    nav .btn-hamburger {
        display: block;
        z-index: 2;
    }

    .mobile-search {
        right: 1.75rem;
    }

    .mobilesearchBtn {
        transition: 0.7s ease-in-out;
        position: relative;
        visibility: visible;
        right: 1rem;
        top: .2rem;
    }

    .mobilesearchBtn.active {
        opacity: 0;
    }

    .mobilecloseBtn {
        position: relative;
        font-size: 1.85rem;
        right: 3.20rem;
        top: .3rem;
        opacity: 0;
        visibility: hidden;
        scale: 0;
    }

    .mobilecloseBtn.active {
        z-index: 20;
        visibility: visible;
        transition: 0.7s;
        scale: 1;
        opacity: 1;
        /* left: -2rem; */
    }

    .searchBox.active {
        right: -58.5rem;
    }

    .searchBtn {
        visibility: hidden;
    }
    
    .searchBtn.active {
        visibility: hidden;
    }
    
    .closeBtn {
        visibility: hidden;
    }
    
    .closeBtn.active {
        visibility: hidden;
    }

    .searchBox input {
        width: 10rem;
        height: 35px;
        border: none;
        outline: none;
        background: #342f42;
        font-size: 1em;
        color: rgb(196, 196, 196);
        border-bottom: solid 1px #7284ca;
    }

    .userTab {
        display: none;
        position: absolute;
        bottom: 0.01rem;
        left: -0.01rem ;
        width: 100%;
        height: 70px;
        z-index: 1;
        border-top: solid 2px #8a7cad;
        background-color: #342f42;
        padding: 0;
        transition: 0.7s ease-in-out;
    }

    .userTab.active {
        transition: 0.7s ease-in-out;
    }

    .userNavIcon {
        font-size: 2.25rem;
    }

    .userTabBtn {
        right: 4.25rem;
        top: 1rem;
    }

    .userTabDropdownMenu {
        transition: 0.7s ease-in-out;
        display: none;
        border: 0px;
        top: 1.5rem;
        right: -20rem;
        background-color: transparent;
        width: 95%;
    }


    .userTabDropdownMenu.active {
        right: 2rem;
        transition: 0.7s ease-in-out;
    }


    .userTabList {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        flex-wrap: nowrap;
        margin-left: 4rem;
        transition: 0.7s ease-in-out;
    }

    .userTabList a {
        color: #7284ca;
    }

    .userTab-item {
        font-size: .95rem;
    }

    .userTabDropdownMenu p {
        display: none;
    }

    #login {
        color: #8a7cad;
    }
    
    #register {
        color:  #7284ca;
    }
    
    #login:hover, #register:hover {
        color: rgb(196, 196, 196)
        
    }



    .mainIndex {
        overflow: hidden;
        font-size: .75rem;
    }

    .topicsContainer, .topicsHeader {
        max-width: 95%;
    }

}

.our-navbar {
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: solid 2px #8a7cad;
    align-items: center;
}

.brand-title {
    height: 60px;
    margin: .75rem;
}

.navbarWelcome {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
}


.navRight {
    width: 10rem;
}



/* login/reg form */
.LoginForm, .RegForm {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 10px 10px 5px rgb(184, 184, 184);
}

.RegWelcome {
    text-shadow: 2px 2px 5px rgb(90, 90, 90);
    color: rgb(41, 41, 41);
}





/* posts table */

.tableContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.topicsHeader {
    width: 50rem;
    height: 3.25rem;
    border: 1px solid #695e86;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 0px;
    background-color: #342f42;
    color: rgb(59, 59, 59);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 2rem;
}

.topicsText {
    text-align: center;
    display: flex;
    align-items: center;
    color: rgb(196, 196, 196);
}

.postHeader a {
    color: rgb(196, 196, 196);
}

.postHeader a:hover {
    color: #8a7cad;
}

.postDesc {
    color: rgb(27, 27, 27);
    /* margin-bottom: 5px; */
}

.postedAt a {
    color: #7284ca;
}

.topicsContainer {
    width: 50rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #695e86;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #43364e;
}

.topicsContent {
    width: 90%;
    border-bottom: solid 1px #8a7cad;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}




/* view post css */
.postContainer {
    border: solid 1px #8a7cad;
    width: 60%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 5px 5px 5px rgb(184, 184, 184);
}

.postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
}

.postBtns {
    width: 8rem;
}


.postTech {
    border-bottom: 1px solid  rgb(184, 184, 184);
}

.postTechText, .postedAt {
    font-size: small;
}

.postDescription {
    word-wrap: break-word;
    margin-top: 3rem;
    /* background-color: #d8d8d8; */
    padding: .75rem;
    border-radius: 10px;
}

.addedBy {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.postedAt {
    display: flex;
    align-items: flex-start;
    margin: 0;
    color: #8a7cad;
}









/* comments css */
.commentsContainer {
    width: 60%;
    border-radius: 10px;
    background-color: #e0d9f0;
    word-wrap: break-word;
    box-shadow: 10px 10px 10px rgb(184, 184, 184);
}

.commentBorder {
    margin-top: 2rem;
    width: 60%;
    border: solid 1px #8a7cad;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(184, 184, 184);
}

.comment {
    text-align: center;
    padding: 2rem;
    margin-top: -2.5rem;
}

.commentBorder label {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.ok {
    border-bottom: solid 1px rgb(184, 184, 184);
}





/* user profile css */
.card {
    background-image: linear-gradient(to right,#8a7cad , #81e0b8  );
}

.edit-card {
    background-image: linear-gradient(to left, #8a7cad, #81e0b8  );
}

.card-body-add {
    margin: 10px;
    padding: 5px;
}

.card-foot {
    margin-top: 20px;
    display: flex;
}

.submitter {
    padding: 5px;
}